@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto+Condensed:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #fff;
}

a {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem;
}

/* Header  */

.nav-bar {
  background-color: #c060a1;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

ul {
  display: flex;
  list-style: none;
}

.nav-bar > ul > li > a {
  border-right: 1px solid #fff;
  padding: 5px;
}

.nav-bar > ul > li:last-child > a {
  border-right: none;
}

.nav-bar > ul > li > a > i {
  font-size: 1.8rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
  background-color: #eeeeee;
}

.search-bar > span {
  color: #c060a1;
  font-size: 3.6rem;
  font-weight: 700;
  width: 240px;
  text-align: center;
  padding: 0 16px;
  font-family: 'Amatic SC', cursive;
}
.search {
  display: flex;
  flex: 1;
  box-shadow: 1px 1px 1px 1px gray;
}
input {
  flex: 1;
  color: #000;
  font-size: 1.8rem;
  border-radius: none;
  border: none;
  padding: 0 10px;
}

input:focus {
  outline: none;
}

.search-bar > .search > i {
  font-size: 3.4rem;
  background-color: #c060a1;
}

.search-bar > a {
  background-color: hsl(0, 90%, 60%);
  margin: 0 10px;
  font-size: 2rem;
  padding: 5px;
  align-items: center;
}
main {
  background-color: #eeeeee;
}
